Use the web_search tool to search the web when the user asks a question that requires up-to-date information, or when you need to find information that is not in your training data. Provide a concise search query. You can optionally specify count (1-10) to control the number of results.